.env
config/token.json
.venv/
database/test.db
.idea/
build/
dist/
*.spec
*.exe
__pycache__/
# Build artifacts
/dist/
/build/
/main.spec
config/token_1.pickle
# Sensitive files
/config/token.json
/static/js/dashboard.js
/config/token_1.pickle
/config/client_secret.json
